@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #090909;
  --card: #fdfdfd;

  /* Next.js font variables */
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Next.js font variables mapped into Tailwind tokens */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card: #101010;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.card {
  background-color: transparent;
}

.card:hover {
    background-color: var(--card);
}